<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Demo Spring Boot</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Demo Spring Boot</h1>
		</div>

		<h4>New playlist</h4>

		<form th:action="@{/playlists/save}"
			th:method="${playlist.id} == 0 ? post : put" th:object="${playlist}">
			<div class="row">
				<input id="id" type="hidden" th:field="*{id}" />
				<div class="form-group col-md-4">
					<label for="name">Name:</label> <input class="form-control"
						id="name" type="text" th:field="*{name}" />
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				</div>

				<div class="form-group col-md-8">
					<label for="description">Description:</label> <input
						class="form-control" id="description" type="text"
						th:field="*{description}" />
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></div>
				</div>

			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Save</button>
			</div>

		</form>

		<hr />

		<a class="btn btn-light" th:href="@{/playlists/list}">Go back</a>

		<hr />
		<footer class="footer">
			<p>&copy; 2018 SAP Hybris - Software Academy</p>
		</footer>

	</div>
</body>
</html>